.ex1{
  margin: 30px 0;
  svg{
    display: block;
    width: 100%;
    path{

    }
    text{
    
      font-size: 15px;
      fill: red;
    }
  }
}

.ex2{
  margin: 30px 0;
  svg{
    display: block;
    width: 100%;
    path{

    }
    text{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 30px;
      fill: green;
    }
  }
}