/* --------------------------- */
/* --------------------------- */
.ex1 > div, .ex2 > div {
  width: 100px;
  height: 100px;
  background: red;
}
.ex1 > div > div, .ex2 > div > div {
  width: 70px;
  height: 70px;
  background: blue;
}
.ex1 > div > div div, .ex2 > div > div div {
  width: 40px;
  height: 40px;
  background: greenyellow;
}

/* --------------------------- */
/* --------------------------- */
.ex3 div {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #000;
}
.ex3 div:first-child:hover {
  background: red;
}
.ex3 div:last-child:hover {
  background: greenyellow;
}

/* --------------------------- */
/* --------------------------- */
.ex4 div {
  display: inline-block;
  height: 100px;
  background: #000;
}
.ex4 div:first-child {
  width: 100px;
}
.ex4 div:first-child:hover {
  background: red;
}
.ex4 div:last-child {
  width: 200px;
}
.ex4 div:last-child:hover {
  background: blue;
}

/* --------------------------- */
/* --------------------------- */
.ex5 div {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.ex5 div:first-child {
  background: var(--main-color);
}
.ex5 div:last-child {
  background: pink;
}

/* --------------------------- */
/* --------------------------- */
.ex6 div {
  display: inline-block;
  height: 100px;
}
.ex6 div.box1 {
  width: 100px;
  background: red;
}
.ex6 div.box2 {
  width: 200px;
  background: blue;
}

.ex7 {
  width: 500px;
  height: 100px;
  border: 1px solid green;
}
@media screen and (min-width:1000px) {
  .ex7 {
    background: red;
  }
}
@media screen and (max-width:1000px) {
  .ex7 {
    background: blue;
  }
}

/* --------------------------- */
/* --------------------------- */
.ex8 button {
  border: 1px solid #CCC;
  padding: 10px 30px;
  background: none;
  cursor: pointer;
}

.ex9 button:nth-child(1) {
  border: 1px solid #CCC;
  padding: 10px 30px;
  background: none;
  cursor: pointer;
}
.ex9 button:nth-child(1):hover {
  background: red;
}
.ex9 button:nth-child(2) {
  border: 1px solid #CCC;
  padding: 10px 30px;
  background: none;
  cursor: pointer;
}
.ex9 button:nth-child(2):hover {
  background: blue;
}
.ex9 button:nth-child(3) {
  border: 1px solid #CCC;
  padding: 10px 30px;
  background: none;
  cursor: pointer;
}
.ex9 button:nth-child(3):hover {
  background: green;
}

.ex10 a:nth-child(even)::before {
  content: "\f015";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.ex10 a:nth-child(odd)::before {
  content: "\f002";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* --------------------------- */
/* --------------------------- */
.ex11 div {
  display: inline-block;
  height: 100px;
  background: yellow;
}
.ex11 div:nth-child(1) {
  width: 100px;
}
.ex11 div:nth-child(2) {
  width: 200px;
}
.ex11 div:nth-child(3) {
  width: 300px;
}

.ex12 {
  font-size: 0;
}
.ex12 b {
  display: inline-block;
  font-size: 16px;
  animation: jump 0.5s infinite alternate;
}
.ex12 b:nth-child(1) {
  animation-delay: 0s;
}
.ex12 b:nth-child(2) {
  animation-delay: 0.2s;
}
.ex12 b:nth-child(3) {
  animation-delay: 0.4s;
}
.ex12 b:nth-child(4) {
  animation-delay: 0.6s;
}
.ex12 b:nth-child(5) {
  animation-delay: 0.8s;
}
.ex12 b:nth-child(6) {
  animation-delay: 1s;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.ex12-1 {
  font-size: 0;
}
.ex12-1 b {
  display: inline-block;
  font-size: 16px;
  animation: jump 0.5s infinite alternate;
}
.ex12-1 b:nth-child(1) {
  animation-delay: 0s;
}
.ex12-1 b:nth-child(2) {
  animation-delay: 0.2s;
}
.ex12-1 b:nth-child(3) {
  animation-delay: 0.4s;
}
.ex12-1 b:nth-child(4) {
  animation-delay: 0.6s;
}
.ex12-1 b:nth-child(5) {
  animation-delay: 0.8s;
}
.ex12-1 b:nth-child(6) {
  animation-delay: 1s;
}
.ex12-1 b:nth-child(7) {
  animation-delay: 1.2s;
}
.ex12-1 b:nth-child(8) {
  animation-delay: 1.4s;
}
.ex12-1 b:nth-child(9) {
  animation-delay: 1.6s;
}
.ex12-1 b:nth-child(10) {
  animation-delay: 1.8s;
}
.ex12-1 b:nth-child(11) {
  animation-delay: 2s;
}
.ex12-1 b:nth-child(12) {
  animation-delay: 2.2s;
}
.ex12-1 b:nth-child(13) {
  animation-delay: 2.4s;
}
.ex12-1 b:nth-child(14) {
  animation-delay: 2.6s;
}
.ex12-1 b:nth-child(15) {
  animation-delay: 2.8s;
}
.ex12-1 b:nth-child(16) {
  animation-delay: 3s;
}
.ex12-1 b:nth-child(17) {
  animation-delay: 3.2s;
}
.ex12-1 b:nth-child(18) {
  animation-delay: 3.4s;
}
.ex12-1 b:nth-child(19) {
  animation-delay: 3.6s;
}
.ex12-1 b:nth-child(20) {
  animation-delay: 3.8s;
}
.ex12-1 b:nth-child(21) {
  animation-delay: 4s;
}
.ex12-1 b:nth-child(22) {
  animation-delay: 4.2s;
}
.ex12-1 b:nth-child(23) {
  animation-delay: 4.4s;
}
.ex12-1 b:nth-child(24) {
  animation-delay: 4.6s;
}
.ex12-1 b:nth-child(25) {
  animation-delay: 4.8s;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=style.css.map */